<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
      http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd ">
    <!-- bean definitions here -->
    
    
    
    <context:component-scan base-package="com.vamsee.controllers"/>
    <context:component-scan base-package="com.vamsee.dao"/>
     <context:component-scan base-package="com.vamsee.service"/>
    <mvc:annotation-driven/>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="prefix" value="/WEB-INF/pages/"></property>
    <property name="suffix" value=".jsp"></property>
    </bean>
    
		<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://192.168.1.53:5432/teamx"/>
		<property name="username" value="dbuser"/>
		<property name="password" value="dbpassword"/>
		</bean>
		    
		    
		    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		    <property name="maxUploadSize" value="100000000000"></property>
		    </bean>
		    
		    
		    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
    <property name="corePoolSize" value="5" />
    <property name="maxPoolSize" value="10" />
    <property name="queueCapacity" value="25" />
		</bean>

		    
    
    <tx:annotation-driven/>
    
    

   <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
   <property name="sessionFactory" ref="sessionFactory"/>
   </bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="packagesToScan"> 
        <list>
            <value>com.vamsee.entities</value>
        </list>
    </property>
    <property name="hibernateProperties">
        <props>
        <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect </prop>
        <prop key="hibernate.current_session_context_class">org.springframework.orm.hibernate4.SpringSessionContext</prop>
        
        <!--<prop key="hibernate.current_session_context_class">thread</prop> 
         <prop key="hibernate.enable_lazy_load_no_trans">true</prop>-->
        <prop key="hibernate.show_sql">true</prop>
        <prop key="hibernate.enable_lazy_load_no_trans">true</prop>    
        <prop key="hibernate.cache.use_second_level_cache">true</prop>
 <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
 <prop key="hibernate.cache.use_query_cache">true</prop>		
 <prop key="hibernate.cache.provider_configuration_file_resource_path">/ehcache/ehcache.xml</prop>
        </props>
    </property>
    </bean>
    
    
    </beans>